run = "pip install -r requirements-replit.txt && streamlit run app.py"
language = "python3"
hidden = [".pythonlibs"]

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"
PATH = "${PATH}:${REPL_HOME}"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[deployment]
run = ["sh", "-c", "streamlit run app.py"]
deploymentTarget = "cloudrun" 